html {
	background-color: #46494f;
	color: #8e9297;
	font-family: 'PT Sans', sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}
h1 {
	margin: 12px 0 8px 0;
	color: #d8e8ff;
	line-height: 24px;
	text-shadow: 0 3px 1px #000;
}
h3 {
	margin: 20px 0 0 0;
	color: #d8e8ff;
	text-shadow: 0 2px 1px #000;
}
hr {
	margin: 30px 0;
	border: 1.5px #5b5f6655 inset;
	border-radius: 2px;
}
p {
	margin: 0 0 5px 0;
	font-size: 14px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
div#settings-container {
	background-color: #36393f;
	flex-grow: 1;
	overflow: hidden;
}
div#palette-container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 15px;
	width: 100%;
	max-width: 900px;
	height: 100px;
	flex-shrink: 0;
}
div#settings {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 15px;
	max-width: 900px;
	height: 100%;
	overflow-y: scroll;
}
div#settings::-webkit-scrollbar {
	width: 20px;
}
div#settings::-webkit-scrollbar-track {
	box-sizing: border-box;
	background-color: #2f3136;
	border: 8px solid #36393f;
	border-radius: 10px;
}
div#settings::-webkit-scrollbar-thumb {
	box-sizing: border-box;
	border: 6px solid #36393f;
	background-color: #46494f;
	border-radius: 10px;
}
div#settings::-webkit-scrollbar-thumb:hover {
	background-color: #5b5f66;
}
div.color-option-container {
	display: flex;
	user-select: none;
}
div.color-option {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	background-image: linear-gradient(#fff2, #0000 25%, #0005);
	color: #0000;
	border-radius: 5px;
	box-shadow: 0 0 0 #d8e8ff44,
		0 5px 4px -3px #0008,
		inset 0 0 0 #d8e8ff44,
		inset 0 0 0 #d8e8ff;
	cursor: pointer;
	transition-property: box-shadow, color;
	transition-duration: 100ms;
	transition-timing-function: linear;
}
div.color-option + div.color-option {
	margin-left: 5px;
}
div.color-option.default {
	width: 85px;
	flex-shrink: 0;
}
div.color-option.active {
	color: #d8e8ff;
	box-shadow: 0 0 15px #d8e8ff44,
		0 5px 4px -3px #d8e8ff66,
		inset 0 0 10px #d8e8ff88,
		inset 0 0 0 1.5px #d8e8ff;
}
div.color-option:not(.active):hover {
	box-shadow: 0 0 10px #d8e8ff33,
		0 5px 4px -3px #d8e8ff33,
		inset 0 0 10px #d8e8ff44,
		inset 0 0 0 1.5px #d8e8ff88;
}
div#selected-color {
	float: left;
	visibility: hidden;
}
div#selected-color::after {
	visibility: visible;
	content: "";
	display: block;
	background-color: inherit;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	background-image: linear-gradient(#fff2, #0000 25%, #0005);
	box-shadow: 0 4px 8px #0004;
	transition: background-color 100ms linear;
}
div#selected-color-text {
	float: left;
	margin-left: 15px;
	width: 200px;
	height: 100%;
}
div#selected-color-hex, input#hex-input {
	font-weight: bold;
	font-size: 32px;
	color: #d8e8ff;
	text-shadow: 0 3px 1px #000;
}
input.text-input {
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: 'PT Sans', sans-serif;
	border-radius: 10px;
	transition-property: background-color, box-shadow;
	transition-duration: 100ms;
}
input.text-input:not(:disabled):hover {
	background-color: #0002;
}
input.text-input:focus {
	outline: none;
	background-color: #0005;
	box-shadow: 0 0px 15px #d8e8ff18, inset 0 0 5px #0006;
}
input#hex-input {
	width: 169px;
}
