:root {

	--p0: var(--custom0);
	--p1: var(--custom1);
	--p2: var(--custom2);
	--p3: var(--custom3);
	--p4: var(--custom4);
	--p5: var(--custom5);
	--p6: var(--custom6);
	--p7: var(--custom7);
	--p8: var(--custom8);
	--p9: var(--custom9);
	--p10: var(--custom10);
	--p11: var(--custom11);
	--p12: var(--custom12);
	--p13: var(--custom13);

	/* Custom */
	--custom0: #a22;
	--custom1: #b52;
	--custom2: #a82;
	--custom3: #282;
	--custom4: #388;
	--custom5: #258;
	--custom6: #74a;
	--custom7: #a68;
	--custom8: #000;
	--custom9: #222;
	--custom10: #444;
	--custom11: #777;
	--custom12: #ccc;
	--custom13: #fff;

	/* Monokai */
	--monokai0: #1f201c;
	--monokai1: #272822;
	--monokai2: #33322a;
	--monokai3: #3e3d32;
	--monokai4: #535143;
	--monokai5: #75715e;
	--monokai6: #88846f;
	--monokai7: #b9b498;
	--monokai8: #f8f8f2;
	--monokai9: #fff;
	--monokai10: #e6db74;
	--monokai11: #ae81ff;

	/* khaki pants by rikki */
	--khaki-pants0: #95654B;
	--khaki-pants1: #B98B73;
	--khaki-pants2: #CB997E;
	--khaki-pants3: #DDBEA9;
	--khaki-pants4: #FFE8D6;
	--khaki-pants5: #D4C7B0;
	--khaki-pants6: #B7B7A4;
	--khaki-pants7: #A5A58D;
	--khaki-pants8: #888B75;
	--khaki-pants9: #6B705C;
	--khaki-pants10: #3F4238;

	/* peanut butter by rikki */
	--peanut-butter0: #411110;
	--peanut-butter1: #6F1D1B;
	--peanut-butter2: #955939;
	--peanut-butter3: #BB9457;
	--peanut-butter4: #7F5E38;
	--peanut-butter5: #432818;
	--peanut-butter6: #6E4021;
	--peanut-butter7: #99582A;
	--peanut-butter8: #CC9F69;
	--peanut-butter9: #FFE6A7;

	/* brick by rikki */
	--brick0: #461220;
	--brick1: #69212d;
	--brick2: #8c2f39;
	--brick3: #9f3541;
	--brick4: #b23a48;
	--brick5: #c55a63;
	--brick6: #d77a7d;
	--brick7: #fcb9b2;
	--brick8: #fdc5b7;
	--brick9: #fed0bb;

	/* Discord's default color palette */
	--default-brand-experiment: #5865f2;
	--default-text-warning: #faa61a;
	--default-text-danger: #ed4245;
	--default-info-positive-background: rgba(59,165,92,0.1);
	--default-info-positive-foreground: #3ba55c;
	--default-info-warning-background: rgba(250,166,26,0.1);
	--default-info-warning-foreground: #faa61a;
	--default-info-danger-background: rgba(237,66,69,0.1);
	--default-info-danger-foreground: #ed4245;
	--default-status-positive-background: #3ba55c;
	--default-status-positive-text: #fff;
	--default-status-warning-background: #faa61a;
	--default-status-danger-background: #ed4245;
	--default-status-danger-text: #fff;
	--default-focus-primary: #00b0f4;

	--default-header-primary: #fff;
	--default-header-secondary: #b9bbbe;
	--default-text-normal: #dcddde;
	--default-text-muted: #72767d;
	--default-text-link: #00b0f4;
	--default-text-positive: #4fdc7b;

	--default-interactive-normal: #b9bbbe;
	--default-interactive-hover: #dcddde;
	--default-interactive-active: #fff;
	--default-interactive-muted: #4f545c;

	--default-background-primary: #36393f;
	--default-background-secondary: #2f3136;
	--default-background-secondary-alt: #292b2f;
	--default-background-tertiary: #202225;
	--default-background-accent: #4f545c;
	--default-background-floating: #18191c;
	--default-background-mobile-primary: #36393f;
	--default-background-mobile-secondary: #2f3136;
	--default-background-modifier-hover: rgba(79,84,92,0.16);
	--default-background-modifier-active: rgba(79,84,92,0.24);
	--default-background-modifier-selected: rgba(79,84,92,0.32);
	--default-background-modifier-accent: hsla(0,0%,100%,0.06);

	--default-info-positive-text: #fff;
	--default-info-warning-text: #fff;
	--default-info-danger-text: #fff;
	--default-info-help-background: rgba(0,176,244,0.1);
	--default-info-help-foreground: #00b0f4;
	--default-info-help-text: #fff;
	--default-status-warning-text: #000;

	--default-scrollbar-thin-thumb: #202225;
	--default-scrollbar-thin-track: transparent;
	--default-scrollbar-auto-thumb: #202225;
	--default-scrollbar-auto-track: #2e3338;
	--default-scrollbar-auto-scrollbar-color-thumb: #202225;
	--default-scrollbar-auto-scrollbar-color-track: #2f3136;

	--default-elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
	--default-elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
	--default-elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
	--default-elevation-high: 0 8px 16px rgba(0,0,0,0.24);

	--default-logo-primary: #fff;
	--default-control-brand-foreground: #a5b3e7;
	--default-background-mentioned: rgba(250,166,26,0.1);
	--default-background-mentioned-hover: rgba(250,166,26,0.08);
	--default-background-message-hover: rgba(4,4,5,0.07);
	--default-channels-default: #8e9297;
	--default-guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	--default-channeltextarea-background: #40444b;
	--default-activity-card-background: #202225;
	--default-textbox-markdown-syntax: #8e9297;

	--default-deprecated-card-bg: rgba(32,34,37,0.6);
	--default-deprecated-card-editable-bg: rgba(32,34,37,0.3);
	--default-deprecated-store-bg: #36393f;
	--default-deprecated-quickswitcher-input-background: #72767d;
	--default-deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
	--default-deprecated-text-input-bg: rgba(0,0,0,0.1);
	--default-deprecated-text-input-border: rgba(0,0,0,0.3);
	--default-deprecated-text-input-border-hover: #040405;
	--default-deprecated-text-input-border-disabled: #202225;
	--default-deprecated-text-input-prefix: #dcddde;

}
